<header>
  <app-header
  [routerLinkHamburger]='hamburgerLink'
  ></app-header>
</header>

<body>
  <section class="content">
    <div id="content" class="content">
        <div class="space"></div>

        <div class="header">
          <p class="header__title">Quản lý thuốc</p>
          <div class="header__add-infor">
            <span class="header__text" (click)="onClickAdd()">Thêm thông tin thuốc</span>
          </div>

        </div>

        <div class="paginate">
          <div class="grid">
            <div class="col paginate__title">
            <div class="c-1 paginate__title"> Tên thuốc </div>
            <div class="c-1 paginate__title"> Số lượng </div>
            <div class="c-1 paginate__title"> Nhà sản xuất </div>
            <div class="c-1 paginate__title"> Giá bán </div>
            <div class="c-1 paginate__title"> Đơn vị </div>
            <div class="c-1 paginate__title"> Hàm lượng </div>
            <div class="c-1 paginate__title"> Hạn dùng </div>
            <div class="c-1 paginate__title"> Sửa, xóa </div>
          </div>
          <div class="col paginate__details" *ngFor="let item of manageMedicine| paginate: { itemsPerPage: 5, currentPage: p }">
            <div class=" c-1 paginate__item"> {{item.name}} </div>
            <div class=" c-1 paginate__item"> {{item.quantity}} </div>
            <div class=" c-1 paginate__item"> {{item.producer}} </div>
            <div class=" c-1 paginate__item"> {{item.price}} </div>
            <div class=" c-1 paginate__item"> {{item.unit}} </div>
            <div class=" c-1 paginate__item"> {{item.dosage}} </div>
            <div class=" c-1 paginate__item"> {{item.date}} </div>
            <div class=" c-1 paginate__item">
              <mat-icon>edit</mat-icon>
              <mat-icon> delete</mat-icon>
            </div>

          </div>
          </div>

          <pagination-controls class="paginate__control" (pageChange)="p = $event"
                          previousLabel=""
                          nextLabel=""
          ></pagination-controls>
        </div>

        <div class="modal" [ngClass]="{'modal--active': formState}">
          <div class="modal__overlay">
              <div class="modal__body">
                <div class="modal__box">
                   <p class="modal__title"> Thêm thông tin thuốc </p>
                    <mat-icon class="modal__close" (click)="onClickClose()">close</mat-icon>
                  </div>
                <div class="modal__inner">
                  <div class="input__box">
                    <div class="example-container">
                      <div class="form-medicine" *ngFor="let item of formMedicine">
                        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker>
                          <mat-label>{{item.name}}</mat-label>
                          <div [formGroup]="formGroup">
                            <input type="{{item.type}}" [formControlName]="item.formControlName" matInput id="{{item.formControlName}}">
                          </div>
                          <mat-error>bạn chưa nhập gì vào đây</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal__input">
                  <button class="modal__btn" (click)="onClickClose()">Xong rồi đó</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
  </body>

    <app-footer></app-footer>
