<header>
  <app-header
  [routerLinkHamburger]='hamburgerLink'
  ></app-header>
</header>
 <body>
    <section class="content">
      <div class="content" id="content">
        <div class="space"></div>

        <div class="header">
          <p class="header__title">Quản lý thuốc</p>
          <div class="header__add-infor">
            <span class="header__text" (click)="onClickAdd()">Thêm sản phẩm</span>
          </div>
          <div class="header__sale">
            <span class="header__text" (click)="onClickSale()">Xuất hóa đơn</span>
          </div>

        </div>

        <div class="table">
          <table mat-table matSort [dataSource]="dataSource">
            <tbody>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Tên thuốc </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Số lượng </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.quantity}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Đơn giá </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.price}} </td>
            </ng-container>

            <ng-container matColumnDef="tax">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Thuế </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.tax}} </td>
            </ng-container>

            <ng-container matColumnDef="total">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Thành tiền </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.total}} </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Ngày xuất </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.date}} </td>
            </ng-container>
            <ng-container matColumnDef="person">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Người xuất </th>
              <td mat-cell *matCellDef="let element" class="table__item"> {{element.person}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__title"> Sửa, xóa, xuất </th>
              <td mat-cell *matCellDef="let element" class="table__item">
                <mat-icon>edit</mat-icon>
                <mat-icon> delete</mat-icon>
                <mat-icon>exit_to_app</mat-icon>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </tbody>
          </table>

          <table>
            <tr *ngIf="!dataSource.data.length">
              <td style="text-align: center;" [attr.colspan]="displayedColumns.length">
                No Records Found!
              </td>
            </tr>
          </table>

        </div>
        <mat-paginator
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 15]"
          showFirstLastButtons
        >
        </mat-paginator>

        <div class="space"></div>

        <div class="space"></div>

        <div class="modal" [ngClass]="{'modal--active': formAddState}">
          <div class="modal__overlay">
              <div class="modal__body">
                <div class="modal__box">
                   <p class="modal__title"> Thêm thông tin thuốc </p>
                    <mat-icon class="modal__close" (click)="onClickClose()">close</mat-icon>
                  </div>
                <div class="modal__inner">
                  <div class="input__box">
                    <div class="example-container">
                      <div class="form-medicine" *ngFor="let item of formAdd">
                        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker>
                          <mat-label>{{item.name}}</mat-label>
                          <div [formGroup]="formGroup">
                            <input type="{{item.type}}" [formControlName]="item.formControlName" matInput id="{{item.formControlName}}">
                          </div>
                          <mat-error>bạn chưa nhập gì vào đây</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal__input">
                  <button class="modal__btn" (click)="onClickClose()">Xong rồi đó</button>
                </div>
              </div>
          </div>
        </div>

        <div class="modal" [ngClass]="{'modal--active': formSaleState}">
          <div class="modal__overlay">
              <div class="modal__body">
                <div class="modal__box">
                   <p class="modal__title"> Xuất hóa đơn </p>
                    <mat-icon class="modal__close" (click)="onClickCloseSale()">close</mat-icon>
                  </div>
                <div class="modal__inner">
                  <div class="input__box">
                    <div class="example-container">
                      <div class="form-medicine" *ngFor="let item of formSale">
                        <mat-form-field class="full-width" appearance="outline" hideRequiredMarker>
                          <mat-label>{{item.name}}</mat-label>
                          <div [formGroup]="formGroup">
                            <input type="{{item.type}}" [formControlName]="item.formControlName" matInput id="{{item.formControlName}}">
                          </div>
                          <mat-error>bạn chưa nhập gì vào đây</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal__input">
                  <button class="modal__btn" (click)="onClickCloseSale()">Xong rồi đó</button>
                </div>
              </div>
          </div>
        </div>

      </div>
      <app-footer></app-footer>
    </section>
 </body>
