<header>
  <app-header
  [routerLinkHamburger]='hamburgerLink'
  ></app-header>
</header>

<body>
  <section class="content" id="content">
    <div class="space"></div>

    <div class="header">
      <p class="header__title">Hóa đơn nhập</p>

    </div>

    <div class="paginate">
      <div class="grid">
        <div class="col paginate__title">
        <div class="c-1 paginate__title"> Nhà phân phối </div>
        <div class="c-1 paginate__title"> Tổng tiền thuốc </div>
        <div class="c-1 paginate__title"> Tổng thuế </div>
        <div class="c-1 paginate__title"> Số tiền phải trả </div>
        <div class="c-1 paginate__title"> Ngày nhập </div>
        <div class="c-1 paginate__title"> Người nhập </div>
        <div class="c-1 paginate__title"> Sửa, xóa, xuất </div>
      </div>
      <div class="col paginate__details" *ngFor="let item of stockIn | paginate: { itemsPerPage: 5, currentPage: p }">
        <div class=" c-1 paginate__item"> {{item.producer}} </div>
        <div class=" c-1 paginate__item"> {{item.price}} </div>
        <div class=" c-1 paginate__item"> {{item.tax}} </div>
        <div class=" c-1 paginate__item"> {{item.total}} </div>
        <div class=" c-1 paginate__item"> {{item.date}} </div>
        <div class=" c-1 paginate__item"> {{item.person}} </div>
        <div class=" c-1 paginate__item">
          <mat-icon>edit</mat-icon>
          <mat-icon> delete</mat-icon>
          <mat-icon>exit_to_app</mat-icon>
        </div>

      </div>
      </div>

      <pagination-controls class="paginate__control" (pageChange)="p = $event"
                      previousLabel=""
                      nextLabel=""
      ></pagination-controls>
    </div>

  </section>
</body>

<footer>
  <app-footer></app-footer>

</footer>


