<section class="content">
  <div class="container">
      <section class="service" style="flex: 1;">
        <ul class="service__title">
          <p>Các dịch vụ</p>
          <li class="service__text">Quản lý thuốc</li>
          <li class="service__text">Quản lý hóa đơn</li>
          <li class="service__text">Báo cáo thống kê</li>
        </ul>
      </section>
      <section class="information" style="flex: 1;">
        <ul class="information__title">
          <p> Thông tin</p>
          <li class="information__text">Giới thiệu</li>
          <li class="information__text">Blog</li>
          <li class="information__text">Liên hệ</li>
        </ul>
      </section>
      <section class="home" style="flex: 2;">
        <div class="home__title">
          <p>Trang chủ</p>
          <p class="home__text">Hiệu thuốc rhust là nhà thuốc tây chuyên bán các sản phẩm Dược phẩm thành phần bao gồm: Thuốc ke đơn bác sĩ, thuốc không kê đơn</p>
        </div>
      </section>
    </div>
</section>

